<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ECCONetDevTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <ECCONetDevTool.Properties.Settings>
            <setting name="ServerFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="LocalFilePathName" serializeAs="String">
                <value />
            </setting>
            <setting name="S1Address" serializeAs="String">
                <value />
            </setting>
            <setting name="S2Address" serializeAs="String">
                <value />
            </setting>
            <setting name="S3Address" serializeAs="String">
                <value />
            </setting>
            <setting name="S4Address" serializeAs="String">
                <value />
            </setting>
            <setting name="S5Address" serializeAs="String">
                <value />
            </setting>
            <setting name="S1KeyPrefix" serializeAs="String">
                <value />
            </setting>
            <setting name="S2KeyPrefix" serializeAs="String">
                <value />
            </setting>
            <setting name="S3KeyPrefix" serializeAs="String">
                <value />
            </setting>
            <setting name="S4KeyPrefix" serializeAs="String">
                <value />
            </setting>
            <setting name="S5KeyPrefix" serializeAs="String">
                <value />
            </setting>
            <setting name="S1Key" serializeAs="String">
                <value />
            </setting>
            <setting name="S2Key" serializeAs="String">
                <value />
            </setting>
            <setting name="S3Key" serializeAs="String">
                <value />
            </setting>
            <setting name="S4Key" serializeAs="String">
                <value />
            </setting>
            <setting name="S5Key" serializeAs="String">
                <value />
            </setting>
            <setting name="S1Value" serializeAs="String">
                <value />
            </setting>
            <setting name="S2Value" serializeAs="String">
                <value />
            </setting>
            <setting name="S3Value" serializeAs="String">
                <value />
            </setting>
            <setting name="S4Value" serializeAs="String">
                <value />
            </setting>
            <setting name="S5Value" serializeAs="String">
                <value />
            </setting>
            <setting name="S1Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="S2Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="S3Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="S4Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="S5Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TkFilterAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="TkFilterAddressEn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TkFilterKeyPrefix" serializeAs="String">
                <value />
            </setting>
            <setting name="TkFilterKeyPrefixEn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TkFilterKey" serializeAs="String">
                <value />
            </setting>
            <setting name="TkFilterKeyEn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TkFilterValue" serializeAs="String">
                <value />
            </setting>
            <setting name="TkFilterValueEn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TkOvAddressEn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TkOvKeyPrefixEn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TkOvKeyEn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TkOvValueEn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BinFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="IncludeProductInfoFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IncludeCanAddressFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsCanAddressStatic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ModelName" serializeAs="String">
                <value />
            </setting>
            <setting name="ManufacturerName" serializeAs="String">
                <value />
            </setting>
            <setting name="HardwareRevision" serializeAs="String">
                <value />
            </setting>
            <setting name="AppFirmwareRevision" serializeAs="String">
                <value />
            </setting>
            <setting name="BootloaderFirmwareRevision" serializeAs="String">
                <value />
            </setting>
            <setting name="BaseIndexedOutputEnum" serializeAs="String">
                <value />
            </setting>
            <setting name="MaxIndexedOutputEnum" serializeAs="String">
                <value />
            </setting>
            <setting name="StaticCanAddress" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="BinSaveToLocalFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BinSaveToFlashFileSystem" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IncludeTimeLogicFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TimeLogicReservedSpace" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="TimeLogicImportFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="ProjectExpressionTemplateCollectionFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="ProjectProductAssemblyFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowLightEngineIds" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LeIconXScale" serializeAs="String">
                <value>64.0</value>
            </setting>
            <setting name="LeIconYScale" serializeAs="String">
                <value>20.0</value>
            </setting>
            <setting name="ProjectExpressionCollectionFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="LeIconXOffset" serializeAs="String">
                <value />
            </setting>
            <setting name="LeIconYOffset" serializeAs="String">
                <value />
            </setting>
            <setting name="S6Address" serializeAs="String">
                <value />
            </setting>
            <setting name="S7Address" serializeAs="String">
                <value />
            </setting>
            <setting name="S8Address" serializeAs="String">
                <value />
            </setting>
            <setting name="S9Address" serializeAs="String">
                <value />
            </setting>
            <setting name="S10Address" serializeAs="String">
                <value />
            </setting>
            <setting name="S6KeyPrefix" serializeAs="String">
                <value />
            </setting>
            <setting name="S7KeyPrefix" serializeAs="String">
                <value />
            </setting>
            <setting name="S8KeyPrefix" serializeAs="String">
                <value />
            </setting>
            <setting name="S9KeyPrefix" serializeAs="String">
                <value />
            </setting>
            <setting name="S10KeyPrefix" serializeAs="String">
                <value />
            </setting>
            <setting name="S6Key" serializeAs="String">
                <value />
            </setting>
            <setting name="S7Key" serializeAs="String">
                <value />
            </setting>
            <setting name="S8Key" serializeAs="String">
                <value />
            </setting>
            <setting name="S9Key" serializeAs="String">
                <value />
            </setting>
            <setting name="S10Key" serializeAs="String">
                <value />
            </setting>
            <setting name="S6Value" serializeAs="String">
                <value />
            </setting>
            <setting name="S7Value" serializeAs="String">
                <value />
            </setting>
            <setting name="S8Value" serializeAs="String">
                <value />
            </setting>
            <setting name="S9Value" serializeAs="String">
                <value />
            </setting>
            <setting name="S10Value" serializeAs="String">
                <value />
            </setting>
            <setting name="S6Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="S7Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="S8Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="S9Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="S10Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BST_Address" serializeAs="String">
                <value />
            </setting>
            <setting name="BST_KeyPrefix" serializeAs="String">
                <value />
            </setting>
            <setting name="BST_Key" serializeAs="String">
                <value />
            </setting>
            <setting name="BST_Value" serializeAs="String">
                <value />
            </setting>
            <setting name="BST_PacketsPerMessage" serializeAs="String">
                <value />
            </setting>
            <setting name="BST_MessagesPerSecond" serializeAs="String">
                <value />
            </setting>
            <setting name="NPS_PingAllNodes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NPS_Hours" serializeAs="String">
                <value />
            </setting>
            <setting name="NPS_Minutes" serializeAs="String">
                <value />
            </setting>
            <setting name="NPS_Seconds" serializeAs="String">
                <value />
            </setting>
            <setting name="NPS_PingsPerNode" serializeAs="String">
                <value />
            </setting>
            <setting name="NPS_TestForPeriod" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BST_UseDefaultToken" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FWU_FilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ODM_RetainOfflineDevices" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ODM_SystemPowerState" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TM_ShowExpiredStatusMessages" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TM_ShowCurrentStatusMessages" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TM_ShowEvents" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TT_Address" serializeAs="String">
                <value />
            </setting>
            <setting name="TT_KeyPrefix" serializeAs="String">
                <value />
            </setting>
            <setting name="TT_Key" serializeAs="String">
                <value />
            </setting>
            <setting name="TT_Value1" serializeAs="String">
                <value />
            </setting>
            <setting name="TT_Value2" serializeAs="String">
                <value />
            </setting>
            <setting name="TT_TokensPerSecond" serializeAs="String">
                <value />
            </setting>
            <setting name="TransmitDelaymS" serializeAs="String">
                <value>1</value>
            </setting>
        </ECCONetDevTool.Properties.Settings>
    </userSettings>
</configuration>